{% extends 'base.html' %}

{% block content %}
<h3>Shopping Cart
    <span class="float-right">
        <a href="{{ url_for('shop.clear_cart') }}" class='btn btn-sm btn-danger'>Clear Cart <i class='fa fa-trash'></i></a>
    </span>
</h3>
<hr>
<div class="card-body">
    {% for item in items %}
    <!-- PRODUCT -->
    <div class="row">
        <div class="col-12 col-sm-12 col-md-2 text-center">
            <img class="img-responsive" src="{{item.image}}" alt="{{item.name}}" width="120" height="80">
        </div>
        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
            <h4 class="product-name"><strong>{{item.name}}</strong></h4>
            <h4>
                <small>{{item.description}}</small>
            </h4>
        </div>
        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
            <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                <h6><strong>{{'${:,.2f}'.format(item.price)}} <span class="text-muted">x</span>{{ cart['items'].count(item) }}</strong></h6>
            </div>
            <div class="col-4 col-sm-4 col-md-4">
            </div>
            <div class="col-2 col-sm-2 col-md-2 text-right">
                <a href="{{ url_for('shop.remove_from_cart', id=item.id) }}" type="button" class="btn btn-outline-danger btn-xs">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}
    <!-- END PRODUCT -->
    

</div>
<div class="card-footer">
    <div class="coupon col-md-5 col-sm-5 no-padding-left pull-left">
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control" placeholder="cupone code">
            </div>
            <div class="col-6">
                <input type="submit" class="btn btn-default" value="Use cupone">
            </div>
        </div>
    </div>
    <div class="pull-right" style="margin: 10px">
        <button id="checkout-button" class="btn btn-success pull-right">Checkout</button>
        <div class="pull-right" style="margin: 5px">
            Total price: <b>{{ '${:,.2f}'.format(cart_total)}}</b>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
    {{ super() }}

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        // console.log(Stripe)
        var stripe = Stripe('{{ stripe_publishable_key }}')
        // console.log(stripe)
        var checkoutButton = document.getElementById('checkout-button');
        checkoutButton.addEventListener('click', function(){
            // console.log("Hi there!")
            fetch('{{ url_for("shop.create_checkout_session")}}', {
                method: 'POST'
            })
            .then(function (response){
                return response.json();
            })
            .then(function (session){
                return stripe.redirectToCheckout({sessionId: session.id})
            })
            .then(function (result){
                console.log("HOORAY!")
            })
            .catch(function (error){
                console.error('Error:', error)
            })
        })
    </script>
{% endblock scripts %}